.nav {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

.posts {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.posts h2 {
  text-transform: capitalize;
}

#post-button {
  position: fixed;
  top: 30px;
  right: 30px;
}

.search {
  max-width: 500px;
  margin: 20px;
}

.no-posts {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.pages {
  font-size: large;
  margin-left: 10px;
}
